<!DOCTYPE html>
{% load filters %}
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Spruce v0.2</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
		<script type="text/javascript">
    		function ShowLoading(e) {
	        var div = document.createElement('div');
	        var img = document.createElement('img');
	        img.src = '{% static "images/loading_bar.gif" %}';
	        div.innerHTML = "Please Wait...<br />";
	        div.style.cssText = 'position: fixed; top: 50%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF; border: 1px solid #000';
	        div.appendChild(img);
	        document.body.appendChild(div);
	        return true;
	        // These 2 lines cancel form submission, so only use if needed.
	        //window.event.cancelBubble = true;
	        //e.stopPropagation();
    		}
		</script>
	</head>
	<body>
		<div class="navbar navbar-default navbar-static-top">
	        <div class="container p-none">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "images/Spruce.png" %}" title="Spruce v0.2"></a>
		                <span class="navigationSpace">
	                <a href="{% url "index" %}">INDEX</a>
		                <span class="navigationSpace">
		            <a href="{% url "scan" %}">SCAN</a>
	                    <span class="navigationSpace">
	                <a href="{% url "upload_file" %}">UPLOAD</a>
	                    <span class="navigationSpace">
	                <a href="{% url "logout" %}">LOGOUT</a>
	                    <span class="navigationSpace">
	                
	            </div>
	        </div>
	    </div>
	    {% block content %}
		{% endblock %}
	</body>
</html>