<!DOCTYPE html>
{% load filters %}
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Spruce - Inventory Scan</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
		<script type="text/javascript">
    		function ShowLoading(e) {
	        var div = document.createElement('div');
	        var img = document.createElement('img');
	        img.src = '{% static "images/loading_bar.gif" %}';
	        div.innerHTML = "Please Wait...<br />";
	        div.style.cssText = 'position: fixed; top: 50%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF; border: 1px solid #000';
	        div.appendChild(img);
	        document.body.appendChild(div);
	        return true;
	        // These 2 lines cancel form submission, so only use if needed.
	        //window.event.cancelBubble = true;
	        //e.stopPropagation();
    		}
		</script>
	</head>
	<body>
	{% include "spruce/navbar.html" %}
		<div class="jumbotron">
			<h1 class="text-center">Core Functions Disabled - Keyfile Issue</h1>
		</div>
		

		<div class="container text-center">
			
				
					<p>There is an issue with the SSH key file. Please check it exists and is properly formatted, then head back to the index.</p>
				
			
		</div>
	</body>
</html>
