{% extends 'spruce/base.html' %}

	{% block content %}
	{% load staticfiles %}
	<div class="jumbotron">
		<h1 class="text-center">Update History</h1>
	</div>
		{% if output %}
		<h2 class="text-center">Here is the recent update history for {{ request.GET.hostname }}: </h2>

		<div class="container pre-scrollable">
		<pre>
		{% for chunk in output %}
		{{ chunk }}
		{% endfor %}
		</pre>
		</div>
		<div class="text-center">
		{% if messages %}
                {% for message in messages %}
                        {{ message }}
                {% endfor %}
		<br>
                {% endif %}
		</div>
		<script type="text/javascript">
		function confirmRollback() {
  			if (confirm("WARNING: this is EXPERIMENTAL functionality.\n\nThis may have unintended side-effects like broken dependencies, and COULD break your system.\n\nAre you SURE you want to do this?")) {
    			ShowLoading();
				return true;
  			} else {
    				return false;
  			}
		}
		</script>
		<!-- <form method="POST" onsubmit="return confirm('WARNING: this is EXPERIMENTAL functionality.\n\nThis may have unintended side-effects like broken dependencies, and COULD break your system.\n\nAre you SURE you want to do this?')"> -->
                <form method="POST">
			<div class="text-center">
			<label for="input_id">Enter the transaction to roll back:</label>
			<input type="text" id="input_id" name="input_id">
			{% csrf_token %}
			<button type="submit" onclick="return confirmRollback();" class="btn btn-default">Submit</button>
			</div>
		</form>
		{% else %}
		<h2>No SSH output from {{ request.GET.hostname }}.</h2>
		
		{% endif %}
	{% endblock %}
