<!DOCTYPE html>
{% load filters %}
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Spruce - Login</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
		<script type="text/javascript">
    		function ShowLoading(e) {
	        var div = document.createElement('div');
	        var img = document.createElement('img');
	        img.src = '{% static "images/loading_bar.gif" %}';
	        div.innerHTML = "Please Wait...<br />";
	        div.style.cssText = 'position: fixed; top: 50%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF; border: 1px solid #000';
	        div.appendChild(img);
	        document.body.appendChild(div);
	        return true;
	        // These 2 lines cancel form submission, so only use if needed.
	        //window.event.cancelBubble = true;
	        //e.stopPropagation();
    		}
		</script>
	</head>
	<body>
		<div class="jumbotron">
			<h1 class="text-center">Login</h1>
		</div>
		
		<div class="container text-center">
		
			<form method="post" action="{% url 'login' %}">
	    		{% csrf_token %}
	        	<table>
		        <tr>
		            <td>{{ form.username.label_tag }}</td>
		            <td>{{ form.username }}</td>
		        </tr>
		        <tr>
		            <td>{{ form.password.label_tag }}</td>
		            <td>{{ form.password }}</td>
		        </tr>
		        </table>

		        <input type="submit" value="login" />
		        <input type="hidden" name="next" value="{{ next }}" />
		    </form>


		</div>
	</body>
</html>
