        {% load staticfiles %}
        <div class="navbar navbar-default navbar-static-top">
            <div class="container p-none">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url "index" %}"><img src="{% static "images/Spruce.png" %}" title="Spruce v0.1"></a>
		                <span class="navigationSpace">
                    <a href="{% url "index" %}">INDEX</a>
		                <span class="navigationSpace">
		            <a href="{% url "scan" %}">SCAN</a>
                        <span class="navigationSpace">
                    <a href="{% url "upload_file" %}">UPLOAD</a>
                        <span class="navigationSpace">
                    <a href="{% url "logout" %}">LOGOUT</a>
                        <span class="navigationSpace">
                    
                </div>
            </div>
        </div>
