{% extends 'spruce/base.html' %}

	{% block content %}
	{% load staticfiles %}
	<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script>
		$(document).ready(function () {
    		$("#ckbCheckAll").click(function () {
       			$(".checkBoxClass").prop('checked', $(this).prop('checked'));
    		});
    
    		$(".checkBoxClass").change(function(){
        		if (!$(this).prop("checked")){
            		$("#ckbCheckAll").prop("checked",false);
       			}
    		});
		}); 
		</script>


	<div class="jumbotron">
		<h1 class="text-center">{{ request.GET.hostname }}: Available Updates</h1>
	</div>
		{% if availableupdates %}
		<!-- <h2 class="text-center">Here are the available updates on {{ request.GET.hostname }}:</h2> -->
		<p><p>

		<div class="container">
			
			<form method="POST" runat="server" onsubmit="ShowLoading()">

			<table class="table table-bordered" id="updatetable">
				<thead>
					<th>Package Name</th>
					<th>Current Version</th>
					<th>Available Update Version</th>
					<th>Update?</th>
				</thead>
				{% for package in availableupdates %}
				<tr>
					<td>{{ package.package }}</td>
					<td>{{ package.currentver }}</td>
					<td>{{ package.newver }}</td>
					<td><div class="material-switch pull-right"><input id="{{ package.package }}" type="checkbox" class="checkBoxClass" name="package" value="{{ package.package }}"><label for="{{ package.package }}" class="label-success"></label></div></td>
				</tr>	
				{% endfor %}
			
			</table>
			{% csrf_token %}
			
				<!-- <table class="table table-bordered text-center"><tr><td> -->
				<div class="material-switch2 text-center"><input type="checkbox" id="ckbCheckAll"> Check All<label for="ckbCheckAll" class="label-success"></label></td><td> 
				<input type="submit" class="btn btn-primary" value="Update Selected"></div></td></tr>
				<!-- </table> -->
			</form>
			{% else %}
			<h2>No updates are currently available on {{ request.GET.hostname }}.</h2>
			{% endif %}

		</div>

	{% endblock %}
