{% extends 'spruce/base.html' %}

	{% block content %}
	{% load staticfiles %}
		<script type="text/javascript" src="{% static "js/filebrowse.js" %}"></script>
		<div class="jumbotron">
			<h1 class="text-center">System Scan - Upload File</h1>
		</div>
		

		<div class="container text-center">
			
				
					<form method="POST" enctype="multipart/form-data" runat="server" onsubmit="ShowLoading()">
					{% if messages %}
						<div>
						{% for message in messages %}
							{{ message }}
						{% endfor %}
						</div>
					{% endif %}
					<p>Upload your Ansible inventory file here.</p>
				<div class="col-xs-4 col-xs-offset-4">
					<div class="input-group">
                				<label class="input-group-btn">
                    					<span class="btn btn-primary">
                        				Browse&hellip; <input type="file" name="hostFile" style="display: none;">
                    					</span>
                				</label>
                				<input type="text" class="form-control" readonly>
            				</div>
					<br>
					<button type="submit" class="btn btn-primary" value="Upload">Upload</button>
				</div>
					{% csrf_token %}
					</form>
				
			
		</div>
	{% endblock %}
