<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ request.GET.hostname }}: Locked Packages</title>
		<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
	</head>
	<body>
		
		<h1>System Locked Packages</h1>
		{% if heldpackages %}
		<h2>Here are the version locked packages on {{ request.GET.hostname }}: </h2>

		<div class="djangtwo">
			<form method="POST">
			<table>
				<thead>
					<th>Package Name</th>
					<th>Locked Version</th>
					<th>Unhold?</th>
				</thead>
				{% for package in heldpackages %}
				<tr>
					<td>{{ package.package }}</td>
					<td>{{ package.currentver }}</td>
					<td><input type="checkbox" name="package" value="{{ package.package }}"></td>
				</tr>	
				{% endfor %}
			</table>
				{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Submit">
			</form>
		
			
		</div>
		
		{% else %}
		<h2>No packages are locked on {{ request.GET.hostname }}.</h2>
		
		{% endif %}



	</body>
</html>

