<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ request.GET.hostname }}: Update History</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
	</head>
	<body>
	{% include "first_app/navbar.html" %}
	<div class="jumbotron">
		<h1 class="text-center">Update History</h1>
	</div>
		{% if output %}
		<h2 class="text-center">Here is the recent update history for {{ request.GET.hostname }}: </h2>

		<div class="container">
		<pre>{{ output }}</pre>
		
		</div>
		<div class="text-center">
		{% if messages %}
                {% for message in messages %}
                        {{ message }}
                {% endfor %}
		<br>
                {% endif %}
		</div>
		<form method="POST">
			<div class="text-center">
			<label for="input_id">Enter the transaction to roll back:</label>
			<input type="text" id="input_id" name="input_id">
			{% csrf_token %}
			<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
		{% else %}
		<h2>No SSH output from {{ request.GET.hostname }}.</h2>
		
		{% endif %}



	</body>
</html>

