<!DOCTYPE html>
{% load filters %}
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Patch Manger Project - Main Page</title>
		<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
	</head>
	<body>
		<h1>System Index</h1>
		{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
		{% endif %}
		<h2>List of scanned systems:</h2>

		<div class="djangtwo">
			{% if hosts %}
			<form method="POST">
				<table>
					<thead>
						<th>Host Name</th><th>IP Address</th><th>Software Updates</th><th>Locked Packages</th><th>All Installed Packages</th><th>Rescan?</th><th><p style="color:red">DELETE?</p></th>
					</thead>
					{% for sysaddr in hosts %}
					<tr>
						<td>{{ sysaddr.1 }}</td>
						<td>{{ sysaddr.0 }}</td>
						<td><a href="updates?hostaddr={{ sysaddr.0 }}&hostname={{ sysaddr.1 }}">View</a></td>
						<td><a href="held?hostaddr={{ sysaddr.0 }}&hostname={{ sysaddr.1 }}">View</a></td>
						<td><a href="installed?hostaddr={{ sysaddr.0 }}&hostname={{ sysaddr.1 }}">View</a></td>
						<td><input name="address" value="{{ sysaddr.0 }}" type="submit"></td>
						<td><input name="delete" value="{{ sysaddr.0 }}" type="submit"></td>
					</tr>	
					{% endfor %}
				</table>
				{% csrf_token %}
			</form>
			{% else %}
			<p>No access records found!</p>
			{% endif %}

		</div>

	</body>
</html>
