<!DOCTYPE html>
{% load filters %}
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Patch Manager Project - Main Page</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
	</head>
	<body>
	<div class="jumbotron">
		<h1 class="text-center">System Index</h1>
		{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
		{% endif %}
	</div>
		<h2 class="text-center">List of scanned systems:</h2>
		<p><p>

		<div class="container">
			{% if hosts %}
			<form method="POST">
				<table class="table table-bordered">
					<thead>
						<th><p class="text-center">Host Name</p></th><th><p class="text-center">IP Address</p></th><th><p class="text-center">Software Updates</p></th><th><p class="text-center">Locked Packages</p></th><th><p class="text-center">All Installed Packages</p></th><th><p class="text-center">Rescan?</p></th><th><p color="red" class="text-center">DELETE?</p></th>
					</thead>
					{% for sysaddr in hosts %}
					<tr>
						<td>{{ sysaddr.1 }}</td>
						<td>{{ sysaddr.0 }}</td>
						<td><a href="updates?hostaddr={{ sysaddr.0 }}&hostname={{ sysaddr.1 }}" class="btn btn-info">Software Updates</a></td>
						<td><a href="held?hostaddr={{ sysaddr.0 }}&hostname={{ sysaddr.1 }}" class="btn btn-info">Locked Packages</a></td>
						<td><a href="installed?hostaddr={{ sysaddr.0 }}&hostname={{ sysaddr.1 }}" class="btn btn-info">Installed Packages</a></td>
						<td><input name="address" value="{{ sysaddr.0 }}" class="btn btn-warning" type="submit"></td>
						<td><input name="delete" value="{{ sysaddr.0 }}" class="btn btn-danger" type="submit"></td>
					</tr>	
					{% endfor %}
				</table>
				{% csrf_token %}
			</form>
			{% else %}
			<p>No access records found!</p>
			{% endif %}

		</div>

	</body>
</html>
