<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ request.GET.hostname }}: All Installed</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
	</head>
	<body>
	<div class="jumbotron">
		<h1 class="text-center">System Installed Packages</h1>
	</div>
		<h2 class="text-center">Here are the installed packages on {{ request.GET.hostname }}:</h2>
		<p><p>

		<div class="container">
			{% if installedpackages %}
			<form method="POST">
			<table class="table table-bordered">
				<thead>
					<th>Package Name</th>
					<th>Current Version</th>
					<th>Lock (Single)</th>
					<th>Lock (Multiple)</th>
				</thead>
				{% for package in installedpackages %}
				<tr>
					<td>{{ package.package }}</td>
					<td>{{ package.currentver }}</td>
					<td><input name="package" value="{{ package.package }}" type="submit"></td>
					<td><div class="material-switch pull-right"><input id="{{ package.package }}" type="checkbox" name="package" value="{{ package.package }}"><label for="{{ package.package }}" class="label-success"></label></div></td>
				</tr>	
				{% endfor %}
			</table>
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="Submit">
			</form>
			{% else %}
			<p>No installed package records found!</p>
			
			{% endif %}

		</div>

	</body>
</html>
