<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Django Level 2</title>
		<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
	</head>
	<body>
		<h1>Hi welcome to Django level 2!</h1>
		<h2>Here are the available updates on {{ request.GET.hostname }}:</h2>

		<div class="djangtwo">
			{% if availableupdates %}
			<form method="POST">
			<table>
				<thead>
					<th>Package Name</th>
					<th>Current Version</th>
					<th>Available Update Version</th>
					<th>Update?</th>
				</thead>
				{% for package in availableupdates %}
				<tr>
					<td>{{ package.package }}</td>
					<td>{{ package.currentver }}</td>
					<td>{{ package.newver }}</td>
					<td><input type="checkbox" name="package" value="{{ package.package }}"></td>
				</tr>	
				{% endfor %}
			</table>
			{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Submit">
			</form>
			{% else %}
			<p>No package updates found!</p>
			{% endif %}

		</div>

	</body>
</html>
