<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ request.GET.hostname }}: Available Updates</title>
		<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
	</head>
	<body>
		<h1>System Updates</h1>
		{% if availableupdates %}
		<h2>Here are the available updates on {{ request.GET.hostname }}:</h2>

		<div class="djangtwo">
			
			<form method="POST">
			<table>
				<thead>
					<th>Package Name</th>
					<th>Current Version</th>
					<th>Available Update Version</th>
					<th>Update?</th>
				</thead>
				{% for package in availableupdates %}
				<tr>
					<td>{{ package.package }}</td>
					<td>{{ package.currentver }}</td>
					<td>{{ package.newver }}</td>
					<td><input type="checkbox" name="package" value="{{ package.package }}"></td>
				</tr>	
				{% endfor %}
			</table>
			{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Submit">
			</form>
			{% else %}
			<h2>No updates are currently available on {{ request.GET.hostname }}.</h2>
			{% endif %}

		</div>

	</body>
</html>
